.nav-bar{
  background-color: #ece5e5;
  color: #755625;
}
.right{
  color: #755625;
}
h5{
  font-family: 'Architects Daughter', cursive;
}
h1, h2, h5{
  text-align:center;
  
  color:755625;
}
.name{
  font-family: 'Poiret One', cursive;
  font-weight:bold;
}
.carousel-item{
  height:600px!important;
  width:600px!important;
}
.parallax{
height:200px;
}
.parallax-container{
  height:300px;
}
.hello{
  text-align:center;
}
.centered{
  text-align:center;
}
.carousel{
  height:500px;
}